  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'DM Sans', sans-serif;
}
ul,ol{
    list-style: none;
}
img{
    max width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav_list{
    display: flex;
    align-items: center;
}
.nav_link{
    display: inline-block;
    padding: 20px 10px ;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    letter-spacing: -0.468947px;
    color: #696871;
}
.nav_button{
    padding: 20px 50px;
    background: #FF7143;
    border-radius: 10px;
}
.download{
    display: flex;
}
.download_image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #E7E7E7;
    position: relative;
    margin-left: 40px;
}
.down_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header{
    display: flex;
    padding: 30px; 
    padding-bottom: 80px;
}
.header_info{
    flex: 2;
}
.header_img{
    flex: 1;
}
.header_title{
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    /* or 96% */

    letter-spacing: -2.50105px;

    color: #19191B;
    margin-bottom: 30px;
}
.header_desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    letter-spacing: -0.625263px;

    color: #696871;
    width: 80%;
}
.header_button{
    padding: 20px 60px;
    border-radius: 10px;
    background: #5454D4;
    border-radius: 10px;
    color: #fff;
}
.banners{
    padding: 20px;
    padding-bottom: 80px;
}
.banners_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index{ 
    display: flex;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
}
.index_title{
    font-weight: 800;
    font-size: 50px;
    line-height: 57px;
    /* identical to box height, or 114% */
    
    letter-spacing: -1.56316px;
    
    color: #19191B;
    margin-bottom: 30px;   
}
.index_desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    letter-spacing: -0.625263px;

    color: #696871;
    margin-bottom: 30px;
}
.index_img {
    flex: 1;
}
.index_info {
    flex: 1;
}
.metrics{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
}
.page_title{
    font-weight: 800;
    font-size: 50px;
    line-height: 57px;
    /* identical to box height, or 114% */
    
    letter-spacing: -1.56316px;
    
    color: #19191B;
    margin-bottom: 30px;  
}
.mage_desc{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    letter-spacing: -0.625263px;

    color: #696871;
    margin-bottom: 30px;
}
.page_link{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;

color: #5454D4;
}
.page_img {
    flex: -4;
}
.page_info { 
    flex: 1 ;
}

.finance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 200px; 
}
.finance_title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: -0.750316px;

    color: #19191B;
    margin-top: 7px;
    margin-bottom: 20px;
}
.finance_decs{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */ 

    text-align: center;
    letter-spacing: -0.500211px;

    color: #696871;
}
.finance_img{
    display: block;
    margin: 0 auto;
}
.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 40px;
} 
.product_title{
    width: 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    /* or 117% */

    letter-spacing: -1.87579px;

    color: #19191B;
}
.button_left{
    background: #f7f7fb;
    border-radius: 10px 0px 0px 10px; 
    padding: 15px 24px;
    border: none;
}
.button_left:hover{
    color: white;
    background-color: #5454D4;
}
.button_right{
    background: #f7f7fb;
    border-radius: 0px 10px 10px 0px; 
    padding: 15px 24px;
    border: none;
}
.button_right:hover{ 
    color: white;
    background:#5454D4;
}